extends layout


block content

	link(rel='stylesheet', href='stylesheets/viewStyle.css')
	script(src='libs/jquery-ui-1.10.1.min.js')
	script(src='javascript/view.js')
	//- passing jade variable to the scripts (=> variable is global on this page)
	script(type='text/javascript')
		var RESULTS = '!{JSON.stringify(results)}';
	script(src='javascript/analyseresults.js')

	//if lte IE 8
		script(type='text/javascript', src='libs/mootools.js')
		script(type='text/javascript', src='libs/selectivizr.js')


	style(type='text/css')
		
		/* Custom container */
		.container-narrow {
		margin: 0 auto;
		max-width: 900px;
		}
		.container-narrow > hr {
		margin: 30px 0;
		}
		/* Main message and sign up button */
		.jumbotron {
		margin: 60px 0;
		text-align: center;
		}
		.jumbotron h1 {
		font-size: 72px;
		line-height: 1;
		}
		.jumbotron .btn {
		font-size: 21px;
		padding: 14px 24px;
		}
		.select {
		width: 300px;
		}
		
		.falseBlock, .trueBlock {
			position: relative;
			height: 90px;
			width: 10%;
			font-size: 48px;
			text-align: center;
			display: table-cell;
			vertical-align: middle;
		}
		.falseBlock {
			color: #B40404;
			background: #F99D9F;
		}
		.trueBlock {
			color: #0B610B;
			background: #B3E0B1;
		}



	.container-narrow
		.jumbotron
			h1.page-title Analyse results
			br
			br
			br
			//- this is NOT an accordion, but it uses the CSS style of the accordion
			#accordion
				- each result in results
					//- CSS style as for the accordion title
					h3.ui-acc-header
						a #{result.pluginName}
					div.ui-acc-content(id=result.pluginName)
