extends layout

block content
     
  link(rel="stylesheet", href="/datatables/css/DataTables_bootstrap.css")
  script(type='text/javascript', src='/datatables/js/jquery.dataTables.min.js', charset='utf-8')
  script(type='text/javascript', src='/datatables/js/dataTables.bootstrap.js', charset='utf-8')
  script(type='text/javascript', src='/datatables/js/comparisonTable.js', charset='utf-8')
  script(type='text/javascript')
    $(function(){
      $("#comparisonTable").comparisonTable();
    });
  style(type='text/css')
    input { width: 85%}
          
  .container-fluid
    .row-fluid

      // Variable currentMenu denotes the active nav item
      - currentMenu= ''
      include sidebar
          
      .span9            
        h1.page-title Compare with other sites
        hr
        .row-fluid
        
          table#comparisonTable
            thead
              tr
                th Website
                th Libraries
                th Features
                th Scripts
                th Events
