extends layout


block content

	link(rel='stylesheet', href='stylesheets/viewStyle.css')
	link(rel='stylesheet', href='libs/select2/select2.css')
	script(src='libs/jquery-ui-1.10.1.min.js')
	script(src='javascript/view.js')
	script(src='javascript/corpus.js')
	script(src='libs/jquery.validate.min.js')
	script(src='libs/select2/select2.js')
	script(src='libs/datatables/js/jquery.dataTables.min.js')
	script(src='libs/datatables/js/jquery.dataTables.bootstrap.js')
		

	//if lte IE 8
		script(type='text/javascript', src='libs/mootools.js')
		script(type='text/javascript', src='libs/selectivizr.js')


	style(type='text/css')
		
		/* Custom container */
		.container-narrow {
		margin: 0 auto;
		max-width: 900px;
		}
		.container-narrow > hr {
		margin: 30px 0;
		}
		/* Main message and sign up button */
		.jumbotron {
		margin: 60px 0;
		text-align: center;
		}
		.jumbotron h1 {
		font-size: 72px;
		line-height: 1;
		}
		.jumbotron .btn {
		font-size: 21px;
		padding: 14px 24px;
		}
		.select {
		width: 300px;
		}

		/* style for validation form */
		#browseConfig-form .fieldgroup label.error {
			color: #FB3A3A;
		}


	.container-fluid
		.row-fluid

			// Variable currentMenu denotes the active nav item
			- currentMenu = ''
			include sidebar

			.span9
				.container-narrow
					.jumbotron
						h1.page-title Browse the corpus
						br
						p.lead
							| Query the websites by typing the whole url or just a part of it, and an asterix in front or behind it.

						form#browseConfig-form
							#form-content
								fieldset
									.fieldgroup
										input.input-xxlarge.urls(type='text', name='urls', value='webmail.ulb.ac.be')
										br
									.fieldgroup
										br
										p.lead
											| Click on the input field below to pick perspective functions, multiple selections possible..
										br
										br
										select#perspectiveSelect.select(multiple='multiple', name='plugins')
											- each persp in perspFnNames
												option(value= persp)= persp
										br
										br
									.fieldgroup
										br
										button.btn.btn-large.btn-primary Show results &nbsp; &nbsp;
											i.icon-chevron-down.icon-white
			br
			#databaseTable.block-body
				#table-block
					table#comparisonTable.table.table-striped.table-bordered(cellpadding='10', cellspacing='10', border='10')