extends layout

block content
  
  .container-fluid
    .row-fluid

      // Variable currentMenu denotes the active nav item
      include sidebar
      - currentMenu= ''
          
      .span9            
        h1.page-title Homepage