extends layout


block content
	link(rel="stylesheet", href="/datatables/css/DataTables_bootstrap.css")
	script(type='text/javascript', src='/datatables/js/jquery.dataTables.min.js', charset='utf-8')
	script(type='text/javascript', src='/datatables/js/dataTables.bootstrap.js', charset='utf-8')
	script(type='text/javascript', src='/datatables/js/comparisonTable.js', charset='utf-8')
	script(type='text/javascript')
		$(function(){
			$("#comparisonTable").comparisonTable();
		});

	style(type='text/css')
		
		/* Custom container */
		.container-narrow {
		margin: 0 auto;
		max-width: 900px;
		}
		.container-narrow > hr {
		margin: 30px 0;
		}
		/* Main message and sign up button */
		.jumbotron {
		margin: 60px 0;
		text-align: center;
		}
		.jumbotron h1 {
		font-size: 72px;
		line-height: 1;
		}
		.jumbotron .btn {
		margin: 90px 0;
		font-size: 21px;
		padding: 14px 24px;
		}



	.container-narrow
		.jumbotron
			h1.page-title Analyse JavaScript on webpages!
			p.lead
				| Type URL and any JavaScript code that is embedded in various parts inside the page will be extracted.
			br
			form(name='input', action='/extract', method='post')
				input.input-xxlarge(name='url', type='text', value='webmail.ulb.ac.be') -# placeholder="bla bla bla"
				
				br

				a.accordion-toggle(data-toggle='collapse', data-target='#databaseTable')
					| Or browse websites
				#databaseTable.block-body.collapse
					table#comparisonTable
						thead
							tr
								th Website
								th Libraries
								th Features
								th Scripts
								th Events
				button.btn.btn-large.btn-warning(type='submit') Pick Analyse Tools &nbsp; &nbsp;
					i.icon-play.icon-white